name: CI/CD Pipeline

on:
  push:
    branches:
      - dev
      - qa
      - prod

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker
      run: |
        docker --version

    - name: Build Docker image
      # Aquí especificamos la carpeta "backend-teslo"
      run: docker build -t backend-teslo ./backend-teslo

    - name: Run Docker container
      run: docker run -d -p 8080:8080 backend-teslo

    # Puedes agregar aquí las pruebas automatizadas si tienes test cases
    - name: Run tests
      run: docker exec backend-teslo ./run-tests.sh

