name: CI/CD Pipeline with Docker Compose

on:
  push:
    branches:
      - dev
      - qa
      - prod

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker
      run: docker --version

    - name: Install Docker Compose
      run: |
        sudo curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
        sudo chmod +x /usr/local/bin/docker-compose
        docker-compose --version

    - name: Run Docker Compose
      # Ajustamos la ruta relativa para subir un nivel y ejecutar docker-compose
      run: |
        docker-compose -f ../docker-compose.yml up -d

    - name: Run tests
      run: |
        docker-compose exec app npm test # Cambia esto por el comando de pruebas adecuado

    - name: Tear down Docker Compose
      run: docker-compose -f ../docker-compose.yml down

